/* "medium" media query section */
@media only screen and (min-width: 32.5em) {

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5rem;
    }

    header img {
        float: right;
        border-radius: 0 10px 0 0;
        box-shadow: 0 0 30px #444;
    }

    header {
        border-radius: 10px;
    }

    footer {
        border-radius: 10px;
    }
    

}

@media (min-width: 32.5em) {

}